[2020-06-15 09:06] andybroomfield opened #1 "Add Readme"
Add required Readme

[2020-06-15 09:06] andybroomfield opened #2 "Add composer.json"

[2020-06-15 09:12] andybroomfield opened #3 "Add test to check banner is displayed"
Make sure there is a test to check a live banner is displayed, and a non live banner is not shown.

[2020-06-15 09:13] andybroomfield opened #4 "Add default block on install"

[2020-06-15 09:13] andybroomfield opened #5 "Run and fix code standards issues"

[2020-06-15 09:13] andybroomfield opened #6 "Run and fix code deprecation issues"

[2020-06-15 10:42] #1 closed

[2020-06-15 12:19] andybroomfield opened #7 "WSOD when accessing alert banner when none exsits"
After alert banner is installed, trying to access the alert banner menu item when none exists results in error.

[code]

[2020-06-15 12:33] andybroomfield commented on #7
This line is where the error is caused
[code]

[2020-06-15 15:06] andybroomfield commented on #7
Happens becuase ECK requires 'entity_type' however Entity create requires 'type'
Fix is to use entity type manager directly as its intended to remove ECK dependancy.

[2020-06-15 15:07] #7 closed

[2020-06-15 15:09] andybroomfield opened #9 "WSOD when saving new alert banner related to flag"
[code]

[2020-06-15 15:23] #9 closed

[2020-06-15 15:26] andybroomfield opened #11 "Fix missing theme file"
[code]

[2020-06-15 15:26] #2 closed

[2020-06-15 15:51] andybroomfield commented on #11
This is actully an error with the theme, as it includes the alert banner template and references the BHCC library.
[code]

[2020-06-15 16:14] andybroomfield opened #12 "Add alert banner block to banner area on localgov_theme"
Add default block on install.

[2020-06-15 16:18] #12 closed

[2020-06-15 16:28] #4 closed

[2020-06-15 16:43] andybroomfield opened #14 "Change the short description field to use a formatted text field instead of plain text"
BHCC has (by policy) a fixed format for the alert banners. They consist of title, short description which is plain text and a link.
Croydon uses a more free flowing format whereby the banner is a wysiwyg and the other fields except the hide link are ignored.

We need to decide which format is going to be used by default going forward, and if we still support the more fixed formats. Also how other

[2020-06-15 16:53] andybroomfield opened #15 "Display (and edit) more than one banner"
In the original spec at BHCC more than one banner was anticipated, though this was changed to 1 before deployment. There is also an admin view that can show multiple banners in case users want to keep multiple banners ready for publishing. The support is still present, though it was shortcutted to only allow edit the first banner.

We need to decide if:-

1. We stick with current implentation (1 b

[2020-06-15 16:57] andybroomfield opened #16 "Replace ECK with custom entity"
As nice as ECK is we really should ship with our own entity.
We can use Drupal console to scaffold.

We need to decide if :-

1. Use a custom content entity, so as now but just not ECK.
2. We want to just go back to using state (1 banner support only)
3. Use a custom node content type, so it appears under create content.

[2020-06-15 16:58] andybroomfield commented on #16
I would favour 1 as it fits with the idea of content being stored in entities, however its not a page so it doesn't really belong on a node entity.

[2020-06-15 16:59] andybroomfield commented on #15
Ideal would be this was administrator editable, however we need a sensible default for now.

[2020-06-15 17:04] andybroomfield opened #17 "Replace flag dependency?"
This module also relies on flag for two options, to put the banner live (publish) and to remove the hide link (it was a request from public health that Covid info on BHCC could not be hidden).

These could be replaced with simple status booleans to avoid the dependancy on flag
Flag also allows the module to use event subcriber to trigger options when put live. Right now this is to unflag any other

[2020-06-15 17:05] andybroomfield opened #18 "Rename fields to use the localgov format"
Follow the example in localgov_services and rename `field_` to `localgov_alert_`...
(Check format before adding).

[2020-06-15 17:34] andybroomfield opened #19 "Add basic CSS / colours"
We will need to have some basic css for the banners, though themes will override.
Should we add colours here?

[2020-06-15 21:00] andybroomfield commented on #11
Merge of localgovdrupal/localgov_theme#33 fixes this issue.

[2020-06-15 21:00] #11 closed

[2020-06-16 08:10] ekes commented on #16
Functionality is like a block, but constrained to a specific use case right?
It's even simpler than for example Status updates?

There's no access control, no page view, path? It's not such that it should feel like adding content into the site for an administrator? It might even be that it should be an 'unusual' or 'different' task?

It tend toward 1 in that case;
although using a node content typ

[2020-06-16 08:11] ekes commented on #16
Addition: I agree it would be good to get rid of the unnecessary dependencies (eck, flag).

[2020-06-16 09:30] andybroomfield commented on #16
@ekes yes no page view, although the ECK path is currently purposed for preview purposes.
Otherwise its essentially a quick custom block for displaying persisntatly accross the top of the page. Its currently reachable on install under content -> alert banner.

[2020-06-16 09:31] andybroomfield commented on #16
Also should rename the entity from alert_banner to `localgov_alert_banner`

[2020-06-16 10:00] andybroomfield commented on #15
Example with more than one banner (using the hidden admin at /admin/content/alert-banners)

![Screen Recording 2020-06-16 at 10 54 44 am](https://user-images.githubusercontent.com/1467480/84760820-7c2b1000-afc0-11ea-9e3e-48ed6121bd36.gif)

[2020-06-16 16:39] danchamp commented on #15
I like option 2. It allows the quick and easy re-use of some standard alerts like holiday hours / office closures, with minimal editor / administrator effort, and increased consistency.

[2020-06-16 18:15] Adnan-cds commented on #15
Drawing attention of @willguv

[2020-06-16 18:19] Adnan-cds commented on #15
Hi Andy,
For this sort of use cases, I find [EntityQueue](https://www.drupal.org/project/entityqueue) quite useful.  Individual site's can override the number allowable items in the queue which should resolve some of the dilemma IMHO.

FAO @andybroomfield

[2020-06-16 18:23] andybroomfield commented on #15
Thanks @danchamp for your comment.

@Adnan-cds I have thought about entity que, though for the time being it would be better to try and reduce depandancies. The other issue is its a requirement that a content editor can add the banner quuckly in an emergency so needs to be little friction and entity queue has been found to be a little combersume at BHCC. (But maybe something to use behind the scen

[2020-06-17 10:41] willguv commented on #15
@andybroomfield @danchamp From a product point of view, I like option 2 provided it's not lots of extra dev work. If it's a big job, we should chat about it.

We've not had the need to create standard alert banners, but I can see this being very useful.

@Adnan-cds does the big bang announcement work this way already? It would be good if we could standardise how alerts are edited and published.

[2020-06-17 10:58] Adnan-cds commented on #15
Hi Will, yes, we use paragraphs (AKA Page components) to create Big bang announcements and then add them to an entity queue (AKA the page queue).  These Paragraphs persist even after they are removed from the queue.  This makes it possible to use them later.  For better UX, we have added a menu item for editors at "Manage > Content > Page queue > Big bang announcement".  The Service status thing a

[2020-06-17 18:16] andybroomfield commented on #15
Thanks @Adnan-cds @willguv
It looks like option 2 is how it will go forward, the functionality is already present but hidden as it was a last minute change in dev work at BHCC. I'll leave the issue open if other councils / devs wish to comment, though work on the assumption that option 2 is what we are going with.

Oiut of interest, does the big band announcement work accross the site or is it hom

[2020-06-17 18:30] Adnan-cds commented on #15
It is for the homepage only.  As per the requirement, I have told the Views block (which sources the announcements from the EntityQueue) to only appear in the homepage.  An unstyled version is pending testing at https://lbc-app-w-corpwebsite-dev2.azurewebsites.net/

@andybroomfield

[2020-06-17 18:34] andybroomfield commented on #15
@Adnan-cds Presumably a block though so could go anywhere?

[2020-06-17 18:43] andybroomfield commented on #14
For now it may make sense to change the short description field to a text area (formatted) which would keep the rest of fields able to work the way they do on BHCC, and if not required just leave them blank. If councils then wanted something different, it would still be a fieldable entity (BHCC would proabbly change it back to plain text).

Will need to remove the templates from the theme and use

[2020-06-17 18:44] andybroomfield opened #21 "Fix warning missing elbow room library"
As Elbow room may not be installed, do a conditional check before using the modules features.

[2020-06-17 18:48] andybroomfield opened #22 "Implement a proper preview mode"
Currently the entity view page is used to preview the alert banner.
It would be better to have an preview page / controller to show how the banner would look, or even a live preview like the original specification.

[2020-06-18 09:24] Adnan-cds commented on #15
Good morning :)  That's right Andy.

The main difference between Big bang announcement and Site alert is that Big bang announcements cannot be closed!  It also has some extra styling requirements.

FAO @andybroomfield

[2020-06-18 11:04] andybroomfield commented on #15
Thanks, I think for now we will push ahead and convert this from an ECK to custom entity with the option for more than one banner. We can look in the future if there is any chance to merge this with big bang announcements.

[2020-06-18 11:55] willguv commented on #15
@andybroomfield this seems like a good plan - thanks

It would be good to see if a general alert function could provide both the alerts we have now, and more prominent alerts like BB ones

[2020-06-18 13:13] #3 closed

[2020-06-19 10:31] andybroomfield commented on #16
See also #18. Fields need to be renamed.

[2020-06-19 10:35] andybroomfield commented on #16
There is also the admin view to update at http://localgov.lndo.site:8000/admin/content/alert-banners and the display view http://localgov.lndo.site:8000/admin/structure/views/view/alert_banner
The flag `put_live` will need to updated to the new entity.
The template will also need to update `eck-entity--alert-banner.html.twig`

[2020-06-19 10:41] andybroomfield commented on #16
For nameing conventions see https://github.com/localgovdrupal/localgov/wiki/Naming-conventions

[2020-06-19 10:47] danchamp commented on #16
That all makes sense. Presumbly also move remove_hide_link to the entity to remove the flag dependency?

[2020-06-19 10:51] andybroomfield commented on #16
@danchamp Yes, think the hide link can go. I'd like to keep put live as a flag for now to keep the modal confirm behaviour until we tackle #17.

[2020-06-20 21:02] andybroomfield commented on #6
Result of running `bin/phpstan analyse -c phpstan.neon web/modules/contrib/localgov_alert_banner`
[code]

[2020-06-20 21:32] andybroomfield commented on #6
Result when removing ignore rules
[code]

[2020-06-20 21:35] andybroomfield commented on #6
We will need to look at doing proper dependancy injection during the rewrite, though that will be a separate issue. This can close for now.

[2020-06-20 21:35] #6 closed

[2020-06-20 21:40] andybroomfield opened #24 "Use dependancy injection instead of \drupal calls"
Follow up to #6.
Although this ignored in the phpstan config ignores these calls, it something we should fix, though after the general refactor in #16 is done.

Initial report of running phpstan
[code]

[2020-06-20 21:43] andybroomfield commented on #17
One feature that flag does provide is the modal to confirm to switch on the banner, which is a feature that would be good to keep.

[2020-06-20 21:45] andybroomfield commented on #5
Results from running phpcs
[code]

[2020-06-22 17:25] andybroomfield commented on #18
The entity in #26 uses them unprefixed, however they form part of the entity so I'm not sure thats required. Let us know best practice @ekes @stephen-cox.

[2020-06-22 17:32] andybroomfield opened #27 "Fix display template for alert banner"
Now its a new entity we need to fix the template that is used to the alert banner style.

Examples (BHCC)
<img width="1048" alt="Screenshot 2020-06-22 at 6 27 33 pm" src="https://user-images.githubusercontent.com/1467480/85317333-22da4980-b4b6-11ea-8dae-86400315767b.png">
Minor

<img width="1049" alt="Screenshot 2020-06-22 at 6 27 21 pm" src="https://user-images.githubusercontent.com/1467480/85317

[2020-06-22 17:35] andybroomfield opened #28 "Restore the admin view for alert banners"
The new custom entity is using standard drupal entity list for showing the banners that can be edited. This replaces the custom admin view that includes features for putting live in modal.

This should be restoried in place of the drupal default (same method content uses) and linked to the alert banners menu item, but using the new entity.

Previous Yaml is
[code]

[2020-06-22 17:49] andybroomfield opened #29 "Allow banner types to be fieldable"
The alert banners will just use the default fields at present.
Councils may want to add their own fields, so we should allow access to the manage fields and manage display ui like eck.

[2020-06-23 08:21] andybroomfield commented on #27
Is missing a hook theme in the .module file.
Previously would have been
[code]

[2020-06-23 08:24] andybroomfield opened #30 "Fix uninstall config for entity bundle"
`localgov_alert_banner.localgov_alert_banner_type.localgov_alert_banner.yml` needs to be added to localgov_alert_banner_uninstall.

[2020-06-23 08:27] andybroomfield commented on #19
Blocked by #27

[2020-06-23 08:29] andybroomfield commented on #16
Fixed with #26. Other issues added as followup.

[2020-06-23 08:29] #16 closed

[2020-06-23 08:30] andybroomfield commented on #15
Archiving discussion.

[2020-06-23 08:30] #15 closed

[2020-06-23 08:44] andybroomfield opened #31 "Restore form alter behaviour to work with custom entity"
The form alter funciton targets the ECK alert banner, so the modified form that moves flags locations no longer gets updated.
This needs to be retargeted to localgov_alert_banner.
[code]
Also check the form is targeting the right elements.
The form should look like a node edit form, with authoring info in the right sidebar.

[2020-06-23 09:05] andybroomfield commented on #5
Current issues after running lando phix
[code]

[2020-06-23 10:06] stephen-cox commented on #18
@andybroomfield @danchamp There's a wiki page on naming conventions: https://github.com/localgovdrupal/localgov/wiki/Naming-conventions
We're only renaming fields where necessary, but when we do we prefix them with `localgov_`

[2020-06-23 11:45] danchamp commented on #31
This is fixed, and a field group added for alert details to tidy the form.

The 'hide close link' field should probably be in Publishing options, I'm not sure how to reference that group though.

[2020-06-23 12:44] andybroomfield commented on #31
Thanks @danchamp will review.
You may be able to add it to the flag group, as there arn't publishing options yet, thats a new group that will have to be created once we work on removing the flag dependancy.

[2020-06-23 12:57] danchamp commented on #31
Thanks @andybroomfield using the flag group worked.

[2020-06-23 13:49] #31 closed

[2020-06-23 23:48] andybroomfield opened #34 "Non standard table field for uid on localgov_alert_banner entity"
The newly created entity for the alert banner uses a non standard field `user_id` or the user reference.
This needs to be replaced with the Drupal standard `uid`

[2020-06-24 00:08] andybroomfield opened #35 "Restore the separate permission to view all alert banners"
During the conversion, the permission to view the alert banner list was removed.
This should be restored and access to the alert banner list (or the admin view if restored) should use this permission.
The permission is `access alert banner listing page` which would have been provided by ECK.

[2020-06-24 00:24] andybroomfield commented on #29
If we are going to restore using the view in #28 we need to make it field able as it relies on certain fields being available in a certain structure.

[2020-06-24 00:26] andybroomfield commented on #27
Before we do this, we need to make the entity fieldable and restore fields to it (blocked by #29)

[2020-06-24 00:31] andybroomfield commented on #28
This view can partially restore the admin view
[code]

[2020-06-24 00:32] andybroomfield commented on #28
I'm considering this blocked by #29 as the select box won't work with the current implementation.

[2020-06-24 00:40] andybroomfield opened #36 "Replace alert banner base fields with config fields"
At least the short description and link field should be implemented as config fields on the fieldable entity and configured through manage display / manage form display. Type of alert could also be configured this way to make the options user configurable.

Keep uid, status, disable hide link.

[2020-06-24 00:40] andybroomfield commented on #36
Blocked by #29.

[2020-06-24 10:23] andybroomfield commented on #29
I belive the entity needs to regenerated so it has most of the fields are managed through manage display.

Fields on the entity
- Title
- Hide title
- Hide hide link
- Status (put live)
- Uid
- Created
- Changed

Derfault bundle (localgov_alert_banner) should have the following fields
- localgov_type_of_alert (annoucement, minor, major, death of notable person, list field key pair values)
  - 0-an

[2020-06-24 10:31] danchamp commented on #29
I agree @andybroomfield, I didn't appreciate the consequences of the decisions made when generating the entity scaffolding first time around.

[2020-06-24 11:45] andybroomfield commented on #36
#29 will also track this becuase the fields will be regenerated.

[2020-06-24 11:45] #36 closed

[2020-06-25 12:19] #5 closed

[2020-06-25 12:19] #24 closed

[2020-06-26 16:12] andybroomfield commented on #30
These are the config that are installed.
[code]

[2020-06-26 16:27] andybroomfield commented on #27
For reference, it is this [GDS pattern ](https://docs.publishing.service.gov.uk/manual/emergency-publishing.html#death-of-a-notable-person) that we are implementing.

In addition to what is on the GDS style guide, we have a hide button / link that should use JS to hide the banner (there is included JS in the ported module). This should *not* be displayed if the field `remove_hide_link` is checked

[2020-06-27 13:07] andybroomfield opened #38 "Remove display title and remove hide link from banner display."
The variables should still be available for themes, but they should never be displayed.
<img width="216" alt="Screenshot 2020-06-27 at 2 06 15 pm" src="https://user-images.githubusercontent.com/1467480/85923014-829e6f00-b87f-11ea-937d-578403f88ae4.png">

[2020-06-27 13:34] andybroomfield commented on #38
Possible by removing the following from the alert banner base fields
[code]
Need to check if this keeps the variables accessible in twig for themers.

[2020-06-29 09:47] ekes opened #39 "Rationalise permissions and add tests"
I think permissions are going to be a seperarte issue.
This is more an issue of what the scaffold generates, and there might be a need for the more granulated permissions anyway, so I'm not sure its something to worry about for alpha.
In terms of the workflow, at BHCC we allow all comms to write the banner, but only the emergency publisher role to publish. Though whether we should define that as a

[2020-06-29 09:49] ekes commented on #39
Spun off from #37

We should certainly make sure there are tests before merging completely.
#35 covers the view permissions, edit permissions may want to be updated.

[2020-06-29 11:02] andybroomfield commented on #39
What I was trying to post as a new issue before Github broke and @ekes beat me to it.

Currently the regenerated custom entity in #37 creates the full set of CRUD permissions for

- add alert banner entities
- administer alert banner entities
- delete alert banner entities
- edit alert banner entities
- view published alert banner entities
- view unpublished alert banner entities
- view all alert

[2020-06-29 11:02] #29 closed

[2020-06-29 11:02] #34 closed

[2020-06-29 11:06] andybroomfield commented on #19
We should liases with theme @danchamp @cjstevens78 @ekes @stephen-cox and decide if we do this in the module or in the theme.

[2020-06-29 11:08] andybroomfield commented on #27
@danchamp Try to fix #38 in the same PR and let me know if that is possible.

[2020-06-29 11:08] #18 closed

[2020-06-29 11:09] #14 closed

[2020-06-30 23:46] andybroomfield opened #41 "Implement javascript tests for the hide banner feature"
We need to write a javascript test that.
- Shows an alert banner on the website
- Clicks the hide link
- Loads another page and verifies the alert banner is no longer present.

In this test, we need to do the above, then update the existing banner and
- demonstrate the banner with the new updated information is present.

[2020-06-30 23:49] andybroomfield opened #42 "Replace views block with custom block for displaying the alert banner"
Currently views is used to display the alert banner to end users.
Since only one banner at a time is displayed, it may be less resource intensive to simply use an entityquery in a custom block.
This would remove a lot of extra markup that gets added, though it has the cost of making the feature a little less customisable (users who wished to expanded the feature would have to rebuild a view).

[2020-07-01 09:24] danchamp opened #43 "Accessibility: replace <a> element for hiding alert with <button>"
Using an anchor element with a null (#) href to hide alert banners has accessibility implications:

- Semantically, an anchor indicates a hyperlink that takes the user somewhere else, either on the same page via a valid fragment identifier, or to another location via a valid URL.
- For keyboard users, hyperlinks once focussed are activated with the enter key, while the space bar will scroll the vi

[2020-07-02 13:31] #27 closed

[2020-07-02 13:31] #38 closed

[2020-07-03 06:23] danchamp opened #45 "hook_ENTITY_TYPE_update and hook_ENTITY_TYPE_create function names"
Functions incorrectly named and not being called when banners updated / created:
https://github.com/localgovdrupal/localgov_alert_banner/blob/9f71319889e015b95a06df063a0a0404db677c27/localgov_alert_banner.module#L88-L100

Should be localgov_alert_banner_localgov_alert_banner_create and localgov_alert_banner_localgov_alert_banner_update

[2020-07-03 06:35] danchamp commented on #41
These tests have been created, but second test is blocked by #45

[2020-07-03 16:16] andybroomfield opened #50 "InvalidArgumentException: Field link is unknown. if link field is removed"
Error seems related to moving link in preprocess_localgov_alert_banner.
This was discovered whilst viewing a banner in a new alert type, though will also occur if the link field is removed.

The preprocess should check the link field exists first before trying to alter it.

[2020-07-03 16:17] andybroomfield commented on #50
This is also the same for `type_of_alert` as these fields are optional, they need to be checked for if the exists.

[2020-07-03 16:28] #45 closed

[2020-07-03 16:28] #41 closed

[2020-07-03 17:12] #35 closed

[2020-07-06 14:36] andybroomfield commented on #39
Create a test for both an anonomus user and a user with emergency publisher role.

anon user
- Should be able to view an alert banner in the block
- But not view an alert banner page
- Not be able to edit alert banner, access edit page, or create or delete

Emergency publisher
- Should be able to view alert banner
- Should be able to view alert banner page
- Should be able to view the overview
- S

[2020-07-06 15:06] andybroomfield commented on #39
We don't need to test this, as the existing alertbanner block test does this.

[2020-07-06 16:32] andybroomfield opened #52 "Alert banner revison page calling Language::getTitle"
Seems to be this line
`$langname = $localgov_alert_banner->language()->getTitle();`

[2020-07-06 16:34] andybroomfield commented on #52
It might be something like getLabel or getName.

[2020-07-06 17:49] ekes commented on #17
The flag event also unpublishes any other alert - so there is only ever one. All this can be hung on the status, on the save. The token is also generated, but this is also done on the save by hooking in. Both can be handled in the custom entity itself.

Regarding UX. I feels like the status doesn't want to be on the edit form, at the moment in manual testing at least, I don't get the confirmation

[2020-07-06 18:20] andybroomfield commented on #17
@ekes You'll get the pop up in #49.

[2020-07-06 18:26] andybroomfield commented on #17
User stories are this comment
https://github.com/localgovdrupal/localgov/issues/67#issuecomment-642956764

[2020-07-06 19:20] ekes commented on #17
Yer but I can (could as I've removed it ;) put the alert live with a checkbox on the form with the flag - and it doesn't do the pop-up that way - just from the flag link in the view. The user stories don't cover the banners list?

For the story it would sound more like on the submit form, you'd want to go to a preview version (like comments do), and then confirm publish then?

[2020-07-06 22:48] andybroomfield commented on #17
@ekes Yes I think flag is only configured to do that on the view.
I think we will still need to publish checkbox, its just it should offer a caution warning if possible. Maybe not for now as your on the banner your editing.

The admin view came later in the development process, and then get canned at BHCC for just edit one banner. However it needs the caution as you can put the banner live on that

[2020-07-07 08:49] #30 closed

[2020-07-07 09:01] ekes opened #53 "PHP Unit schema warnings & deprications"
Just a note for now. I don't see an issue for them:
[code]

[2020-07-07 09:07] #50 closed

[2020-07-07 09:32] #28 closed

[2020-07-07 10:21] #52 closed

[2020-07-07 11:36] ekes opened #56 "Publish confirmation"
Follow-up to #17 replacing flag confirmation (more discussion on that issue):-

@ekes Yes I think flag is only configured to do that on the view.
I think we will still need to publish checkbox, its just it should offer a caution warning if possible. Maybe not for now as your on the banner your editing.

The admin view came later in the development process, and then get canned at BHCC for just edit

[2020-07-07 11:37] ekes commented on #17
Follow-up on #56 closing this one as the actual flag dependency is now removed.

[2020-07-07 11:37] #17 closed

[2020-07-07 19:04] finnlewis opened #60 "Add Github CI"
Issue to track adding Github CI to automate tests.

[2020-07-07 19:38] ekes commented on #56
Todo: Add it to the listing page. Guessing rather than an operation it's a link (as per the example above).
Optionally make the link appear in a modal. Otherwise - or in addition - set the form redirect locations.

[2020-07-08 08:18] ekes opened #65 "Update paths for Add / Edit operations"

[2020-07-08 08:51] #53 closed

[2020-07-08 08:52] #43 closed

[2020-07-08 09:18] #39 closed

[2020-07-08 10:40] ekes opened #66 "Suggestion: only regenerate the token if it's a new revision"
At the moment every time it's save it regenerates the token for the cookie to hide. This could be changed to only change on a new revision?

[2020-07-08 10:53] danchamp commented on #66
That makes sense, it's then an editorial decision whether it redisplays to anyone who has already hidden it, rather than a system decision.

[2020-07-08 11:05] andybroomfield commented on #66
Sounds good, I think though we should default to create a new revision in that case, as if theres an update its usually being done in an emergency, and the user story is that when new information is available, the banner is represented.

[2020-07-08 11:09] andybroomfield commented on #65
Should follow the same pattern as nodes and live under the alert banners admin view path.
/admin/content/alert-banners/[bundle]/[id]/[operation]
eg.
/admin/content/alert-banners/add
/admin/content/alert-banners/add/localgov-alert-banner/
/admin/content/alert-banners/localgov-alert-banner/1
/admin/content/alert-banners/localgov-alert-banner/1/edit
etc...

[2020-07-08 11:54] stephen-cox commented on #19
@danchamp @andybroomfield Just to confirm what we discussed at review; I've been adding structural CSS to modules and a maybe a little extra colours and such like. The idea being that if the module is installed on it's own it will work, even if more styling will be need to make it look good.

[2020-07-09 11:58] ekes commented on #65
The node pattern is:-

/node/[bundle]/add
but once it exists it's
/node/[id]/[operation]
The admin collection-list being
/admin/content
The non-admin collection is
/node

As this is 'content' and it's not content with a non-admin stand-alone view mode:

admin collection-list:
/admin/content/alert-banners
individual view:
/admin/content/alert-banners/[id]
operations:
/admin/content/alert-banners/[i

[2020-07-09 13:01] ekes commented on #22
In part this is being done with #56 which does a preview before confirmation to publish.

Both view and confirm displays could do with disabling the 'hide' button functionality however.

[2020-07-09 16:29] andybroomfield commented on #65
@ekes Ok, that makes more sense I guess. I don't think many sites will have different bundles so they could just have a filter in the admin view to sort types (How content dashboards work will be another issue I'll raise on main localgov projects).

I'm happy with the above pattern, basically copy what nodes does but sit under the admin dashboard path.

[2020-07-09 16:34] andybroomfield opened #67 "Remove legacy ECK methods / files"
Looks like theres at least a template hanging about `eck-entity--alert-banner.html.twig`
I think also there is a custom access handler in /src/access which isn't used that can be removed.
Do a pass over the .module files and services to make sure their no longer referencing flag or ECK

[2020-07-09 16:35] andybroomfield commented on #60
Assume this is safe to close now there is testing?

[2020-07-10 14:59] ekes opened #70 "Banner create and set live flow"
The flow for creation of banners would become.

Go direct to the create form.
Submit.
Get redirected to {banner-path}/status where you get a preview and asked if you want to 'set this live?'

Otherwise you are on the list of banners. Where there are the 'set this live' 'remove this' links on existing banners, if the form is displayed in a modal or a link as now is an enhancement. And there is the

[2020-07-10 15:01] ekes commented on #56
Confirmation form is there now, also with links in the view list.

Follow-up discussion about publish checkbox and flow:- #70

[2020-07-10 15:01] #56 closed

[2020-07-10 16:33] andybroomfield commented on #70
I will check this with BHCC comms team to see if it works ok for them.
At present in BHCC, the put live uses the checkbox on the banner itself (although we also shortcut the admin screens to only ever editing a single banner).
The main concern is to avoid user confusion when a banner needs to be put live quickly, whilst still having some confirmation to prevent a banner going live if its just bein

[2020-07-10 17:08] ekes commented on #70
Actually that would be simple enough:-

Remove the published checkbox from the form.
Place a non-field checkbox on the form that says 'I want to set this live directly'.
On submission of the entity form if set the destination based on the value of that checkbox.

[2020-07-11 10:58] ekes commented on #70
So I wasn't intending on doing this directly, but before I closed the files quickly: https://github.com/localgovdrupal/localgov_alert_banner/commit/daaca478d246c262c439218e0d58b44664e72abb

No tests. So if someone wants to write them that would be great.
Also it redirects to the .collection list which is currently the coded generated one for the bundle. That would be updated and made nicer by gett

[2020-07-14 10:08] danchamp commented on #19
Closed by #69

[2020-07-14 10:08] #19 closed

[2020-07-14 16:35] andybroomfield commented on #70
Discovered this doesn't override the destination parementer so I will add fix for that.

[2020-07-15 15:03] andybroomfield commented on #70
Initial work in #71 if you want to do an inital review @ekes

[2020-07-22 07:41] stephen-cox opened #73 "Remove unneeded flag requirement from composer.json"
https://github.com/localgovdrupal/localgov_alert_banner/blob/4851c36066e70c5e3987bc5ba9eb069a6cc0a00e/composer.json#L9

[2020-07-22 08:35] andybroomfield commented on #73
:-) was just about to file this, thanks @stephen-cox

[2020-07-22 09:21] #73 closed

[2020-07-22 09:58] #65 closed

[2020-07-29 23:40] #22 closed

[2020-07-29 23:41] andybroomfield commented on #42
Going to mark this as a feature, as be good not to have to rely on views for this.

[2020-07-29 23:42] #60 closed

[2020-07-29 23:42] #70 closed

[2020-07-29 23:52] andybroomfield opened #75 "Prefix the admin view with localgov_"
Change view name to localgov_admin_manage_alert_banners and config from
`views.view.admin_manage_alert_banners.yml` to `views.view.localgov_admin_manage_alert_banners.yml`

[2020-07-30 00:06] andybroomfield opened #76 "Support different alert banners in different blocks (either derivers or instance configuration)"
Possible examples:
- Croydon has the Big Bang Announcement, which is only visible on home page (currently a paragraph type).
- BHCC has the Covid information banner, shown on every page except the home page (as a separate Covid info panel is part of the home page). This has graphic icon links to key pieces of information.

The alert banner is now a fully field-able entity and can plug into the ent

[2020-08-10 16:31] andybroomfield opened #80 "Rewrite test to not require localgov install profile"
Currently the test for checking if an alert banner displays (`AlertBannerBlockTest`) relies on installing the localgov profile.

Instead, the test should place and confiqure the block created in #79.

[2020-08-11 11:42] finnlewis opened #81 "Consistent naming of modules"
Glancing down the list of LocaGov extensions on a fresh install, it looks like a number of modules have the readable name "LocalGov Drupal Blah" rather than "LocalGov Blah".

For consistency I think we should remove the word "Drupal" from module names, as it is redundant.

We should also update the https://github.com/localgovdrupal/localgov/wiki/Naming-conventions page to reflect consistent naming

[2020-08-12 11:03] andybroomfield opened #83 "Investigate whether using notification message as replacement"
Contrib module [Notification message](https://www.drupal.org/project/notification_message) does simmilar to this module. Could be a replacement which this module could style.

Initial quick pass.
Pros
- Moving functionality to contrib
- Plug into wider eco system

Cons
- Have to use their editing UX not localgov specific (would have to build overrides)
- Adds a dependency for simple functionality

[2020-08-12 15:53] #75 closed

[2020-08-13 09:45] andybroomfield opened #84 "Check usuage of field group and remove if not required"
Field group is currently in the composer.json, but not declared as a dependency.
The form in `src/Form/AlertBannerEntityForm.php` does not use field group, but defines its own groups.
We need to decide if we should use field group, and then declare that as a dependancy, remove the custom groups in the form and define them as a form display and install via config.
If not, we should at least build s

[2020-08-13 10:28] Adnan-cds commented on #84
In that case we can drop it as far as I understand.

If anyone overrides the Entity display mode and use field_group, their site-specific config file will add field_group a dependency.

[2020-08-20 10:57] andybroomfield commented on #81
Closing as PR #82 merged.

[2020-08-20 10:57] #81 closed

[2020-08-20 11:32] #42 closed

[2020-08-20 11:33] #67 closed

[2020-10-10 11:21] finnlewis opened #86 "Coding standards - failing on 'Call to deprecated constant REQUEST_TIME'"
See: https://github.com/localgovdrupal/localgov/runs/1232632181#step:6:27
[code]

[2020-10-15 10:22] andybroomfield commented on #66
Tagging as good first issue, may be a little complicated however hopefully something people can get stuck in.

[2020-10-15 10:32] andybroomfield opened #89 "Decide what to do with release tag mix up."
Sort most recent release is currently v1.0.1-alpha1. But the Drupal pattern should be v.1.0.0-alpha2.
We can't release v.1.0.0-alpha2 as that will not upgrade those with 1.0.1.
If we delete this release, others who have updgraded will need to reinstall the package.
This might be ok as not many installs now, but we are also close to a v1.0 release anyway we could get this through beta and to v1.0.1

[2020-11-13 16:48] finnlewis opened #91 "RuntimeException: Controller "Drupal\localgov_alert_banner\Controller\AlertBannerEntityController::getStatusFormTitle()" requires that you provide a value for the "$alert_banner" argument."
When creating a new alert banner, I am seeing this:

`RuntimeException: Controller "Drupal\localgov_alert_banner\Controller\AlertBannerEntityController::getStatusFormTitle()" requires that you provide a value for the "$alert_banner" argument. Either the argument is nullable and no null value has been provided, no default value has been provided or because there is a non optional argument after thi

[2020-11-13 17:20] andybroomfield commented on #91
@finnlewis is this the default included alert banner type or a new custom type?

[2020-11-13 17:36] andybroomfield commented on #91
The code causing this issue is:
[code]
This is for the confirmation page to put an alert banner live.
@ekes your listed as the author, do you have any idea on what is going on?
(I've not been able to replicate the issue, and tests still pass).

Might also have soemthing to do with the following in AlertBannerEntityHtmlRouteProvider.php
[code]

[2020-11-19 20:21] ekes opened #93 "Drupal\localgov_alert_banner\Routing\AlertBannerRouteSubscriber::alterRoutes()"
I think this is legacy code that we've overlooked removing. It's not active now as it has an conditional on `entity.alert_banner.canonical` (why I noticed it checking for 'alert_banner' and not 'localgov_alert_banner' strings on #91 ).

[2020-11-19 20:23] ekes commented on #91
Follow-up I noticed while checking the code #93 @andybroomfield do you want to double check that one?

[2020-11-20 10:14] andybroomfield commented on #93
@ekes Can you let me know what this is your referencing.

[2020-11-20 10:25] ekes commented on #93
`Drupal\localgov_alert_banner\Routing\AlertBannerRouteSubscriber::alterRoutes()`

https://github.com/localgovdrupal/localgov_alert_banner/blob/master/src/Routing/AlertBannerRouteSubscriber.php#L18 Does a collection get on `$collection->get('entity.alert_banner.canonical')` so the enclosed code isn't run. I'm guessing we set the permissions on the canonical route somewhere else (and they are correc

[2020-11-20 10:33] #91 closed

[2020-11-20 14:57] finnlewis commented on #89
@ekes and I were discussing this today, we think it will be fine.

We've removed the 1.0.1-alpha1 tag from Packagist and Github, which should result in no changes as it was the same as 1.0.0-alpha1.

So now we should be good to continue the increments

1.0.0-alpha1
1.0.0-alpha2
1.0.0-alpha3

up to (if needed)

1.0.0-beta1
1.0.0-beta2
...

Then

1.0.0

[2020-11-20 15:26] andybroomfield commented on #89
@finnlewis @ekes Thanks, if your happy with that then please go ahead.

[2020-11-28 08:49] tanc opened #95 "Use Views for admin interface to list all alerts"
At the moment it is possible to create new types of `localgov_alert_banner` with different fields etc. Once a new alert type is created a new entity can be created for this alert type by using the "Add alert banner" button found on the alert listing admin page at `/admin/content/alert-banner`.

Once created the new alert does not show up in the list at `/admin/content/alert-banner`. This is confus

[2020-11-30 10:26] andybroomfield commented on #95
Thanks for reporting @tanc.

The manage alert banners itself is a view, localgov_admin_manage_alert_banners
(on a local install http://localgov.lndo.site:8000/admin/structure/views/view/localgov_admin_manage_alert_banners).

I can see its filtered to only display the main alert banner type, so first step would be to remove that filter.
We need to also show which bundle (type of kind, as the name c

[2020-11-30 10:26] #89 closed

[2020-11-30 10:28] andybroomfield commented on #95
I'll tag this as good first issue, as everything except the update hook should be implentable by altering the view and exporting the updated config. We just need to figure out a way of importing the config, either in an update hook or a dedicated page (in case someone has made changes to the view).

Thoughts @finnlewis @ekes ?

[2020-11-30 14:05] tanc commented on #95
Oh! I don't know how I missed that. Well that makes things neater on Lambeth, I can easily change the View.

How about "Banner type"?

[2020-11-30 14:13] andybroomfield commented on #95
@tanc My concern is that screen is getting a bit crowded, however try it on Lambeth and see what the feedback is.
If your making the change, would you also be able to export your config, replace the view thats in the module and raise a pull request?
We will fiqure out how to handle the config update later and if we need an update hook.

[2020-12-02 23:12] andybroomfield opened #97 "Config update discussion for PR 96"
PR #96 provides an updated view config.
This is a replacement view for the alert banner management screen.
This is the updated view :
[views.view.localgov_admin_manage_alert_banners.yml.txt.zip](https://github.com/localgovdrupal/localgov_alert_banner/files/5632552/views.view.localgov_admin_manage_alert_banners.yml.txt.zip)

Existing installations will not get this update as they have already insta

[2020-12-03 00:02] andybroomfield opened #98 "How should the put live banner system work with multiple banner types"
Currently, the alert banner assumes only 1 banner can be put live at a time (following original BHCC spec).
This works when there is only one banner type.
However limiting to only 1 type can be limiting in terms of fields to be used and alternative layouts.
It's possible to define alternative banner types (bundles). However they are all displayed in a single block, and there is a globally applied

[2020-12-03 18:34] andybroomfield commented on #98
Example of two stacked alert banners of different types.
<img width="1187" alt="two banners example" src="https://user-images.githubusercontent.com/1467480/101072519-11818700-3596-11eb-9c0b-033ce5eb284e.png">

[2020-12-09 16:32] andybroomfield commented on #98
From the product group meeting

[2020-12-09 16:36] andybroomfield commented on #98
Its resolved that we remove the limnitation and have an option to unpublish all.
This will mean altering the current set up and confirmation page.

First step is to do the block per bundle support in #76.
That should also only trigger unpublishing of banners of same type.
The next step is to alter the banner block to support displaying mulitple banners of type.
Then lastly add the unpublish others

[2020-12-11 00:24] #95 closed

[2020-12-11 00:26] andybroomfield commented on #84
Lets drop field group from this module.

[2020-12-11 00:48] andybroomfield opened #99 "Remove the one banner live limitation, replace with an option to unpublish others on the confirmation page"
Follow up to #98.

Instead of forcing only one banner at a time to be published, auto unpublishing any other banner. It should be up to content designers to decide how many banners should be published. The agreed solution is to on the confirmation page for putting a banner live, to have a check box option (pre ticked) to unpublish the other banners (of the same bundle).

- [x] Add a check box to t

[2020-12-11 00:55] andybroomfield opened #100 "Update the banner block to support displaying multiple banners"
Now that #99 will remove the one banner limitation, we need to show all the live banners of the bundle in the block.
This should be by date put live, with the most recent at the top for now.
(How to determine the order would be a follow up issue).

[2020-12-11 00:56] andybroomfield commented on #100
This should be possible to be worked on before #99 is fixed, though won't be possible to test until that is done.

[2020-12-11 00:58] andybroomfield commented on #76
This should be a good first issue, although it has a few complications. The main thing is to get the block deriver that creates a block per bundle.

[2020-12-14 12:09] andybroomfield commented on #80
Also update PermissionsTest

[2020-12-14 15:06] #80 closed

[2020-12-16 17:41] andybroomfield commented on #99
A few other issues encountered related to this (see updated checklist)

- The hide token currently in state applies globally, so needs to now be per banner.
- We need to determine the order of the banners displayed.
I propose based on status (death, major, minor, announcement) followed by the updated date. More complex orders can be made by replacing the block with a view or an entity que which ca

[2020-12-21 17:48] andybroomfield commented on #76
An alternative to using a deriver would be to make the type of banners to display on the block a configuration option. This way it will be possible to have multiple bundles in the same block if that is a requirement.

[2021-01-13 09:13] gosia-mlynarczyk opened #105 "Alert banner preview"
Although the module allows easy customisation of the banners in terms of markup and styling (by overriding banner's template and styling in the front-end theme), the preview of the banner (as it's shown on an admin page which doesn't use the F/E theme) still uses the default template and styling from the module. This is can be very confusing from content editors' perspective, as the preview looks

[2021-01-13 09:36] #99 closed

[2021-01-13 09:45] #100 closed

[2021-01-13 10:29] andybroomfield commented on #105
Thoughts on changing the route at /admin/content/alert-banner/{entity_id}/status to a non admin route to render using the sites main theme?
This same path is used for unpublishing, so a route subscriber would have to know if the banner is published first before changing the route to non admin route.
Alternative would be to add a preview link and render the banners view.

[2021-01-15 08:47] tanc opened #107 "Hard coded field description"
At the moment the field description for the optional title on the link field is hard-coded to say "If you don't write anything here, we will use: More information"

It would be better if this was managed in config so it can be overwritten on a per site basis. That way this field can be adapted to suit the needs of the site. For instance on Lambeth the title field needs to be required due to the fr

[2021-01-15 08:49] tanc commented on #107
https://github.com/localgovdrupal/localgov_alert_banner/blob/master/src/Form/AlertBannerEntityForm.php#L133

[2021-01-19 11:06] andybroomfield commented on #107
As long as we keep it as the default, it should be fine.
The link field is provided by config, so simply needs to be added there and the form alter hook can be removed.
May also need to remove the generated text in the templates.
If someone wants to make a Pull Request will review.

[2021-01-19 11:34] andybroomfield opened #108 "Carry over default fields when creating a new alert banner type"
Currently when a site builder creates a new alert banner type, they get the stripped down version of title, and the display control checkboxes.

The extra fields such as kind of alert and link are not avalible by default (they can be added as fields).
Would a better starting point be to carry over the same fields as the default alert banner type, such as when using bundle copy.

This is partly due

[2021-01-19 11:36] andybroomfield commented on #108
Would Entity:CreateDuplicate be the right method? https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21EntityInterface.php/function/EntityInterface%3A%3AcreateDuplicate/8.9.x

[2021-01-19 14:16] finnlewis commented on #108
@iam-jam fancy looking?

[2021-01-19 14:17] finnlewis commented on #76
@iam-jam fancy it?

[2021-01-25 10:50] iam-jam commented on #108
@andybroomfield I've just taken a look at this but I'll need some more context before I can make a suggestion\work on it...

Is the functionality provided by the module the module dependent on the _Link_, _Short description_ and _Type of alert_ fields, from what I can see in the source I would suggest that it is to a certain extent, if so then I would suggest managing these fields as 'base fields'

[2021-01-25 10:51] iam-jam commented on #108
Worth saying that if we go with base fields then we're probably going to have to think about a migration path for installations which use the field base\instances...

[2021-01-25 11:00] iam-jam commented on #76
I'll take it! cc @finnlewis @andybroomfield

[2021-01-25 12:37] andybroomfield commented on #108
Hi @iam-jam They are meant to be managed fields in config, as there are use cases where those fields are not present. They are definalty optional (but suggested) fields for new banner types. The issue is that when creating a new banner, it would be better to have them present by default and allow site builders to delete them, instead of site builders having to re-add these fields, if that is somet

[2021-01-25 12:40] andybroomfield commented on #76
Thanks @iam-jam I'd like to see if doing this as an per instance configuration (eg. Choose which banner types to display) is possible first.

More complex banners should be implementable by site builders using views / entity que.

[2021-01-25 12:44] iam-jam commented on #76
Ah ok @andybroomfield do you want to pick this up or should I have a go?

[2021-01-25 12:45] andybroomfield commented on #76
If you've got time to look at it that would be super helpful @iam-jam and happy to then review.

[2021-01-25 13:24] iam-jam commented on #76
Sure thing. I'll get a PR together now.

[2021-01-25 14:52] iam-jam commented on #76
Over to you for review @andybroomfield

[2021-01-27 09:14] j4-m opened #110 "Content local task"
Unless I'm missing something, it seems that accessing the Alter banners overview page (i.e. `admin/content/alert-banner`) requires you to know the path... it would be great if there was a local task so you could access it via tab when you're on the content admin pages. Given `admin/content/alert-banner` is a View this should just require a little extra configuration.

@andybroomfield can you confi

[2021-01-27 09:37] andybroomfield commented on #110
@iam-jam Top menu ->Content -> Alert Banners

<img width="323" alt="Screenshot 2021-01-27 at 9 37 12 am" src="https://user-images.githubusercontent.com/1467480/105972213-4b957380-6083-11eb-87c7-a35bcc637986.png">

[2021-01-27 11:01] iam-jam commented on #110
But it's missing from the local task tabs:
![](https://puu.sh/HaXDo/b9732d4aa8.png)

[2021-01-27 11:37] andybroomfield commented on #110
ok, might be worth adding that. I guess we are used to using the toolbar menu.

[2021-01-27 12:21] iam-jam commented on #110
Yea I've just installed the module in a vanilla install so I'm missing admin_menu and consequently it's pretty hard to get to.

[2021-01-29 16:54] tebb commented on #110
@mattrfletcher - I took a quick look, so this may be a bit off, but try:

- In your new test site
- Organise some kind of backup / snapshot.  backup_migrate or adminer (lando container)
- Export and stash the old config for view at admin/content/alert-banner (to use to test the update hook)
- Add a local tab to the view at: admin/content/alert-banner (d.o or Google will have examples)
- Export and

[2021-01-29 19:43] andybroomfield commented on #110
@tebb @mattrfletcher If your happy taking this on. The way to add Local tasks in Drupal 8 / 9 is to add it to the `localgov_alert_banner.links.task.yml` file in the root of the module and add the link to the alert banner admin view.
I found some more infor here in case that is helpful.
https://www.valuebound.com/resources/blog/drupal-8-how-to-create-the-local-tasks-through-custom-module

[2021-01-29 20:15] tebb commented on #110
Oh well!  I tried :)  That's a lot easier!

So we don't need an update hook either?  Just clear (menu?) cache?

Thanks @andybroomfield

[2021-02-26 18:41] Adnan-cds commented on #98
Question Andy,
Currently I can enable multiple banners, but I cannot order them.  They are sorted based on last update time.  Is that going to change at all?

FAO @andybroomfield

[2021-03-03 11:17] andybroomfield commented on #98
@Adnan-cds In terms of order, it should be Notable Death -> Major -> Minor -> Announcement and then in date updated order.
If something more complex is required, then that can be built with a custom view and entity que or simmilar modules.

If there is a desire to have manual re-ordering then that is a question for the product group in the first instance. I'm not sure how that would work with the

[2021-03-03 12:37] Adnan-cds commented on #98
Thanks Andy.  I missed that part :(  @andybroomfield

[2021-03-03 12:40] willguv commented on #98
The default order feels OK to me @andybroomfield - thanks for the info. Agree we shouldn't be making this any more complicated than it need be

[2021-03-03 12:42] Adnan-cds commented on #98
I have just copy-pasted Andy's explanation to the [README](https://github.com/localgovdrupal/localgov_alert_banner/pull/112) :)

[2021-03-17 22:02] finnlewis opened #113 "Drupal 9 test failing: Permissions (Drupal\Tests\localgov_alert_banner\Functional\Permissions)"
[code]

[2021-03-18 21:06] andybroomfield opened #115 "Schedule Alert banners"
Idea following on from conversation from Lambeth in product group, to schedule alert banners so user doesn't have to.
eg. Forms going down overnight.

Would require an optional enable and disable field, then use cron to set the banner live.

---------------------------
Update from https://miro.com/app/board/o9J_lHm9M2s=/?moveToWidget=3074457357810326495&cot=14

Also see https://github.com/localgov

[2021-03-22 22:23] #113 closed

[2021-03-30 15:55] #76 closed

[2021-04-12 11:55] jhiron-wf opened #116 "Save button missing when Gin admin theme is enabled"
As stated in the issue title, when the Gin admin theme is enabled, the save button and the Published toggle do not render on an Alert Banner edit page, see screenshot below:

Top of Alert Banner edit page:
![Alert_Banner_Edit_Form_Top](https://user-images.githubusercontent.com/70009993/114390316-01a23100-9b8e-11eb-935b-3c02456e2139.png)

Bottom of Alert Banner edit page:
![Alert_Banner_Edit_Form_B

[2021-04-12 15:14] andybroomfield commented on #116
Thanks for your bug report @jhiron-wf.
This is happening as Alert banner opts into node edit theming. However it looks like Gin is expecting something when it edits the form actions which the alert banner is missing.
Commenting out the following in `src/Form/AlertBannerEntityForm.php` does fix the issue, at the cost of loosing the sidebar options.
[code]
So I think we need to decide if we want to

[2021-04-12 15:19] willguv commented on #116
Thanks @andybroomfield. What are the sidebar options delivering in this case please? I could check but am supposed to be on leave today :)

[2021-04-12 15:46] andybroomfield commented on #116
@willguv Its the Publishing and Authoring information, which gets sent to the bottom instead.
<img width="1437" alt="Screenshot 2021-04-12 at 4 45 10 pm" src="https://user-images.githubusercontent.com/1467480/114422953-a03e8a00-9bae-11eb-8f19-096cf3e0c897.png">

[2021-04-12 15:49] willguv commented on #116
As long as the sidebar info is on the page, I think this fix is fine. Thanks for the info @andybroomfield

[2021-04-13 12:03] #116 closed

[2021-04-14 17:00] andybroomfield commented on #115
Initial method would be to use the patch for scheduler and write an integration plugin
https://www.drupal.org/project/scheduler/issues/2096585

[2021-04-14 23:11] andybroomfield commented on #98
Closing this as the new banners types per block is now merged and banners per path is a different issue.

[2021-04-14 23:11] #98 closed

[2021-04-14 23:12] #97 closed

[2021-04-14 23:13] #110 closed

[2021-04-21 10:06] finnlewis opened #119 "Specification for alert banner placement in different sections of the site"
We are looking ahead to sprint 12 and want to define the spec.

https://trello.com/c/ML8TaTYD/288-targeting-alerts-to-a-specific-page

[2021-04-21 10:11] willguv commented on #119
Thanks @finnlewis. I've asked Ben at Croydon (who raised this need most recently) to join the Trello board and add examples

[2021-04-21 11:23] finnlewis opened #120 "LocalGov Alert Banner: specification for targetted alerts"
This issue is to help prepare and approve the specification for changes to the alert banner to support greater control over where alert banners are displayed on a site.

## User story (example)

**As a** content designer

**I want to** publish an alert banner that only displays on /events section of the site

**So that** I can add a warning about COVID-19 safety at co-located events.

## User stor

[2021-04-21 11:25] finnlewis commented on #120
@andybroomfield @willguv

Do we already have any defined specification than that on https://trello.com/c/ML8TaTYD/288-targeting-alerts-to-a-specific-page ?

Should we arrange a call to confirm where the main drivers for this are coming from?

[2021-04-21 11:27] willguv commented on #120
@finnlewis are we using the first regular story refinement session for this? Monday pm fortnightly? I think you were going to invite people. I can if not

[2021-04-21 13:32] andybroomfield commented on #120
That can be achieved with existing functionlity.

1. Create a new alert banner type for event banners
2. Create a new alert banner block and select only display banners of type event, and remove event banners from the main block.
3. Set the conditions on the newly created events block to only display on the /events* path

Same as above.

I think where it gets more complicated is if you have more c

[2021-04-21 15:51] finnlewis commented on #120
Just to note, update on the Trello card:

[2021-04-22 08:17] andybroomfield commented on #119
Closing this as #120 haa more of the conversation.

[2021-04-22 08:17] #119 closed

[2021-04-22 13:38] andybroomfield commented on #120
User story on the Trello card

[2021-04-27 11:00] finnlewis opened #121 "Template rationalisation: localgov_alert_banner"
This issue is to track the work needed to rationalise the templates and CSS to work with the new localgov_base theme.

LocalGov Alert Banner is a useful case in point, as it has no dependencies on the rest of LocalGov Drupal distrubition.

Current issues / changes proposed:

1.  classes need to change, assuming we are to follow Drupal best practce  https://www.drupal.org/node/1887918#formatting BE

[2021-04-27 11:03] ekes commented on #121
Alert Banner also provides its own entity so needs minimal default templating.

[2021-04-27 11:28] andybroomfield commented on #121
I think it was also agreed early on that alert banner will always provide some CSS so it can be used out the box, however  should adopt the new styling conventions for the banner colours using css variables.

[2021-04-28 13:05] markconroy opened #122 "Update Frontend to follow Drupal practices"
Update
- template to follow drupal practices
- CSS to follow BEM
- JS to use new classes
- localgov_alert_banner.module to use new template suggestion

You can see a video of my thought process here:
https://www.twitch.tv/videos/1003684550

That will be deleted after 14 days automatically by Twitch, so I'll upload a version of it to YouTube later when it's finished processing on my computer.

Upda

[2021-04-28 14:33] ekes opened #124 "Tag 1.0.0"
As per localgovdrupal/localgov#194 localgovdrupal/localgov#200

PR: template changes to be discussed not blocking
Issues: nothing blocking, mainly new features.

[2021-04-28 14:33] ekes commented on #124
@andybroomfield Do you want to tag this one? Is there anything I missed that wants doing before that?

[2021-04-28 15:58] andybroomfield commented on #124
@ekes I'll take it, I want to review some of the issues first but should be no problem to go ahead and tag.

[2021-04-29 09:28] andybroomfield opened #125 "Can we display the banner by default without javascript?"
Currently the banner requires javascript to display.
This is so that if a user has hidden the banner, there isn't a flash of the banner appearing breifly, as the logic to hide the banner is in javascript.
Is it possible to reverse this and have it so the banner is displayed by default and hidden server side?
I think the problem before was when the internal page caching module was turned on.

[2021-04-29 09:29] andybroomfield opened #126 "Is it nessecary to clear the cache when publishing a banner? (Improve cache tags / contexts)"
There is quite a performance slump when publishing a new alert banner, as the cache needs to be cleared.
Lets improve the cache tags / contexts as we should be able to rely on those for banner publication.

[2021-04-29 16:22] #122 closed

[2021-05-05 12:58] ekes commented on #124
https://github.com/localgovdrupal/localgov_alert_banner/releases/tag/1.0.0

[2021-05-05 12:58] #124 closed

[2021-05-05 14:16] stephen-cox opened #131 "Drupal 9 coding standards and deprecation issues"

[2021-05-05 15:33] andybroomfield commented on #131
Good to be prepped for Drupal 10 I suppose :-)

[2021-05-05 15:44] stephen-cox commented on #131
There's a discussion on whether to bother testing for Drupal 10 code deprecations here: https://github.com/localgovdrupal/localgov/issues/197#issuecomment-828371620. I'm currently assuming we will so fixing them :wink:

[2021-05-06 12:51] Adnan-cds opened #134 "Full page alert banner"
*Copy-pasting from the related Croydon ticket:*

Pull request: #133

[2021-05-06 17:37] andybroomfield commented on #134
Thanks for the work @Adnan-cds.
I'm not so sure it should be directly integrated with the alert banner module, which is targeted for content designers to easily add a banner at the top of the page, following the [Gov.uk emergency banner pattern](https://docs.publishing.service.gov.uk/manual/emergency-publishing.html#death-of-a-notable-person).
The full page alert feature originated as a requirment

[2021-05-07 08:30] willguv commented on #134
Hi @andybroomfield @Adnan-cds, this came up in a conversation a while ago. While PMs didn't decide formally whether to include it, there did seem to be a lot of interest. It feels like we should add it as an option to be used or not. I'm keen to hear from content designers (we need a few more in the group) whether they would use it.

Before we do that though, can you share your accessibility and u

[2021-05-07 08:35] danchamp commented on #134
There are some accessibility issues, I'll review as soon as I can.

[2021-05-07 09:03] andybroomfield commented on #134
@willguv Full screen takeovers when a user is trying to get something done are considered bad. Especially if they block a user from getting something done, and as seen from some deploys, causes unexpected issues with disabling page scroll making dismissing it hard.
I'd like to see the user research / accesibitly studies on them. I'm interested to know why gov.uk goes for the banner approach instea

[2021-05-10 23:31] andybroomfield commented on #121
Closing as done

[2021-05-10 23:31] #121 closed

[2021-05-11 19:32] andybroomfield opened #136 "Replace alert banner title with administrive title, add optional title field for display?"
Titles are needed for the alert banner for the admin view, and for implementing the gov.uk pattern.
However not all alerts need a title to be displayed, and sometimes the headers can be handled with the wysiwyg field.

If this change was carried forward, the change would be:
- Change the title field to Administrive Title (like blocks)
- Add a new field (Title) to the default bundled alert banner
-

[2021-05-11 20:20] willguv commented on #136
@andybroomfield good suggestion. Titles aren’t used by many, so should be optional

[2021-05-12 09:09] finnlewis opened #137 "Publish alert banners on selected sections of the site"
From: https://miro.com/app/board/o9J_lHm9M2s=/?moveToWidget=3074457357810326499&cot=14

Also see: https://github.com/localgovdrupal/localgov_alert_banner/pull/129
And https://www.drupal.org/project/condition_field

**As a** content designer

**I want to** publish an alert banner across the top of selected pages on the site

**so that** I can notify citizens of a change to a specific service withou

[2021-05-12 09:26] finnlewis commented on #120
I think we can call this done, with enough spec on the Miro board: https://miro.com/app/board/o9J_lHm9M2s=/

[2021-05-12 09:26] #120 closed

[2021-05-12 11:03] finnlewis opened #138 "Schedule alert banners to publish/ unpublish at selected times"
Also see https://github.com/localgovdrupal/localgov_alert_banner/pull/128

**As a** content designer

**I want** to publish an alert banner temporarily across the top of selected pages on the site

**so that** I can inform users of a change to a service

**As a** content designer

**I want** to alert banners to unpublish automatically at a certain time

**so that** I don't have to remove them manu

[2021-05-12 11:07] andybroomfield commented on #138
Related Drupal.org issue.

https://www.drupal.org/project/scheduler/issues/2096585

I'd look to getting scheduling working on nodes first, once the project has decided which scheduling module to use as the default, the alert banner should implement it.

Some initial discovery was done in #128

[2021-05-12 11:10] andybroomfield commented on #138
Also this duplicates #115 so best to keep the discussion in one place.

[2021-05-12 15:35] finnlewis commented on #138
Woops! Closing in favour of #115 , thanks @andybroomfield

[2021-05-12 15:35] #138 closed

[2021-05-12 15:37] finnlewis commented on #115
@andybroomfield noted on #138

[2021-05-18 09:05] ekes commented on #115
The patch is for applying scheduler to entities other than nodes. In the larger picture there is the question if folk will also want to schedule other content, particularly if they have added workflow, this will require another module https://www.drupal.org/project/scheduler_content_moderation_integration.

The alternative for both is http://drupal.org/project/scheduled_transitions

This works out

[2021-05-18 14:52] andybroomfield commented on #115
Would an acceptible alternative be to bake in scheduled live / removal into the module instead of relying on a dependency.

I'm a little worried on adding too much extra complexitiy to a module whose primary function is qucikly put a message accross the top of the site when there is a major disaster.

To support scheduled transitions we would be adding an extra workflow as @ekes mentions, I'm also

[2021-05-18 23:25] andybroomfield commented on #115
New comment on the issue from the maintainer of Scheduler.
https://www.drupal.org/project/scheduler/issues/2096585#comment-14106297

If the above gets merged into a release, I would suggest this tips the balance back in favour of using scheduler.

[2021-05-21 10:09] finnlewis commented on #137
@stephen-cox you're doing some work on this... shall we assign it to you ?

[2021-05-21 15:30] stephen-cox commented on #137
Current code for this is in the [feature/137-conditional-placement](https://github.com/localgovdrupal/localgov_alert_banner/tree/feature/137-conditional-placement) branch.

It adds a new visibility field, building on the work that @andybroomfield did.

It currently only adds the field to the existing alert banner type and works for new installs. Do we want this change applied to other alert banner

[2021-05-21 15:38] willguv commented on #137
@stephen-cox can you get me a screenshot as it's hard to picture

[2021-05-24 08:51] stephen-cox commented on #137
Here's a screenshot of the alert banner edit form with the added visibility field

![Screenshot - Add alert banner](https://user-images.githubusercontent.com/7189914/119322403-82684880-bc75-11eb-89c5-80e7ede1132b.png)

[2021-05-25 10:10] finnlewis commented on #137
@willguv suggests removing the 'role' and 'content type' options.

[2021-05-26 11:32] finnlewis commented on #137
@andybroomfield suggests inserting the field into the entity directly.

[2021-05-26 13:55] andybroomfield commented on #137
@finnlewis @stephen-cox However it would be good to be able to still use the plugin architecture so we hve our own requirments for a consition plugin that will pick a service and display in them, and I suspect others wil have similar / own requirements they would like to extend upon.

[2021-05-26 13:56] andybroomfield commented on #137
See also #108 which is another solution (leave it as a config field, but always create it when making a new banner).

[2021-05-27 15:52] stephen-cox commented on #137
@andybroomfield Taking inspiration from issue #108, I have created a `postSave` method that copies the configuration for the visibility field to new alert banner types; see https://github.com/localgovdrupal/localgov_alert_banner/pull/142/commits/ccb9f59f789033eea034e3b607902a8ae160dca3. It would be easy to extend for other fields and so would solve that issue too.

Do we want to add this field to

[2021-06-01 21:22] andybroomfield opened #143 "Replace content.short_description in template with content|without('title', 'link')"
I think it was this way before, but its since been changed (@markconroy ?)
This means the alert banner cannot have extra fields without a custom template.
Before I think we used `content|without('title', 'link')` so that any extra field gets printed.

I noticed this when experimenting with Layout Builder on the banner which wraps the fields in the content variable with the region and nothing was b

[2021-06-02 10:52] markconroy commented on #143
I don't remember it being `{{ content|without... }}` before.

But I certainly think it should be.

We have an `if` statement. Should we remove that clause? If we leave it in and someone fills out another (new) field, but not the summary field, then that new field will not print.

[2021-06-04 08:51] andybroomfield commented on #143
Could we action this. I can raise a PR.
I don't think we need to wrap with an if statement as worst case its an empty div that gets rendered.

[2021-06-07 15:28] stephen-cox commented on #126
I suspect this is due to no cache contexts and tags being added to the [AlertBannerBlock](https://github.com/localgovdrupal/localgov_alert_banner/blob/1.x/src/Plugin/Block/AlertBannerBlock.php) class.

My suggestion is to set the cache contexts and tags in the `AlertBannerEntity` class in `getCacheContext` and `getCacheTag` methods, rather than the [hook_entity_build_defaults_alter](https://github

[2021-06-09 13:55] #137 closed

[2021-06-14 13:58] markconroy opened #146 "Should we remove role="alert" from alert banners"
When testing a page in AXE, I am told that `role="alert"` is not valid on the article element.

Two things we can do:
1. Remove the `article` element and place a `div` there instead, or
2. remove the `role="alert"` attribute.

I'm open to debate on this one, but I _think_ role="alert" may not be correct here. I think that type alert is for dynamic content, such as form validation if someone hasn't

[2021-06-14 14:26] andybroomfield commented on #146
Is there an alternative role that should be used?
It is important that the alerts have a sense of gravitas, as they are used for emergencies.
I'm still confused why an alert is an article TBH...

Do we know what other sites do. I was checking gov.uk and national rail, but there COVID banners just use plain div with no role.

[2021-06-14 14:39] markconroy commented on #146
I think the reason role="alert" might not be needed is because it is not for info that is updating on the site as you are looking at it - such as via a ajax call. It's not something like a form being filled out, but a field was missed, or ordering something in a shop, but the website realises the item is now out of stock.

We can remove the `article` if you wish. Might be best to follow the patter

[2021-06-14 14:43] andybroomfield commented on #146
@markconroy I found the markup they use
https://github.com/alphagov/govuk-emergency-banners/blob/master/app/views/_emergency_banner.html
They use role="banner"

[2021-06-14 16:15] danchamp commented on #146
Using `role="alert"` is borderline acceptable - it's for important information the user needs to consume, which isn't restricted to errors, but is really designed for dynamically generated content.

Browsers will announce the alert to screen readers but not move the focus to it, which makes it trickier for users to dismiss it than if it had focus. If they don't dismiss it, it will be back again on

[2021-06-15 08:50] markconroy commented on #146
We don't have `role="banner"` on the header of the new theme. I can add it in, but it didn't seem necessary.

[2021-06-15 10:00] danchamp commented on #146
Definitely not necessary with the `<header>` container being used which has an implicit role of banner. It's used in localgov_theme for IE11 compatability.

[2021-06-16 08:41] danchamp commented on #146
Some more evidence that `role="alert"` is not appropriate for alert banners. From [WAI-ARIA](https://www.w3.org/TR/wai-aria-1.1/#alert):

If we really want the alert to be announced to the user, alertdialog looks like the best option. Otherwise we copy govuk and use a div with `role="banner"`, and possibly wrap multiple alerts in a single div?

[2021-06-16 10:40] #143 closed, assigned to nobody

[2021-06-25 12:05] andybroomfield commented on #115
From Slack

We are not going to use Workbench (https://www.drupal.org/project/workbench) for now as it adds complexity that we don't currently need, we will build on core views for content screens and extend as needed.
We will use scheduled transitions (https://www.drupal.org/project/scheduled_transitions) , not scheduler (https://www.drupal.org/project/scheduler ) as it has the flexibility we nee

[2021-06-28 08:55] danchamp commented on #125
+1 for hiding banners server side since it would also remove the dependency on CSS to hide the banner.

At the moment a hidden banner is still present in the HTML on subsequent page loads, and will be shown / announced to users if CSS is not available for any reason, or run the risk of a FOUC.

At the least we should add `aria-hidden` to hidden banners, but it feels cleaner to check for the presen

[2021-06-28 15:37] andybroomfield opened #147 "Link does not display if link title is not included"
Before if you did not include link text the link would use 'more information'
now the link does not display.
Was this feature removed? (see #10)

Steps to reproduce:
1. Create an alert banner, filling in only the url of the link field.
2. Set the banner live
3. On confirmation screen, and when the banner is live, the link is missing.

What should happen:
Link should be visible, with the label 'Mor

[2021-06-28 18:43] markconroy commented on #125
Within the new theme we have a .no-js class that is present on initial load but removed straighaway by JS.

We could use something like `.no-js .localgov-alert-banner { display: block; }`.

I like @danchamp idea of doing this server side if possible.

[2021-06-29 10:48] andybroomfield commented on #147
Added a fix in the template by checking if the field renders.

We need to decide if 'More information' is a default thing that should get set, and how (either as a field default value or using preprocess as now or in a template).

[2021-06-29 11:13] andybroomfield commented on #147
This is how the default link is set, in localgov_alert_banner.page.inc line 36.
[code]
Doing it this way means that the whole link field is replaced by custom markup, so field tempalates, and I assume to `content.link.0 is not empty` twig condition will fail. The render fix in #148 fixes it, though maybe this is not the best implementation.

[2021-06-29 16:05] Adnan-cds opened #150 "Do we need the "session" cache context?"
Hi Andy,
Our **cache_render** MySQL table is getting flooded with alert banner blocks.  It appears that each and every anonymous page request (that's not already in cache_page) is adding an alert banner block entry in cache_render.  This is because all anonymous page requests have different sessions and the alert banner is using the ["session" cache context](https://github.com/localgovdrupal/local

[2021-06-29 16:16] andybroomfield commented on #150
Ouch, that's got to be harsh. Let's take a look at that.
Do you use the anonymous internal page cache?

I think there is some ongoing discussion on the correct cache tags to use. The urls where added due to the presence of condition field.

Not sure about session cache, we do need to check the cookie but again that's in JavaScript for now. Maybe something to do with condition field as that has a u

[2021-06-29 16:25] Adnan-cds commented on #150
That's right.

If that's the case then perhaps we can cover that with the *user.role* cache context?  Whatever we do, we will need some tests.

Thanks for the prompt response :)

[2021-06-29 17:48] andybroomfield commented on #150
I think we might just be able to remove the cache contexts from localgov_alert_banner.module `localgov_alert_banner_entity_build_defaults_alter`
[code]

Should the cache tags be generated here, or should they now move to the entity? This is a holdover from when this was built using ECK.

[2021-06-29 18:00] andybroomfield opened #151 "Assign view alert permission to anon users when creating new alert banners."
Or we need to set the default view all alert banners permision?
So on initial install, I noticed that anon users can't actully view any banner contents unless this permission is set.

[2021-06-29 18:07] andybroomfield commented on #151
Does our entity even check for permission to view?
I had a strange effect on an old install I had the scheduler work on where the banner wasn't visible.
But everywhere else its possible to see it without permission.
I think by default we should let anon users see the banner, and may not even need seperate permissions to view.

[2021-06-29 18:08] Adnan-cds commented on #150
Entity may be better.  Example from [core's path_alias module](https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/path_alias/src/Entity/PathAlias.php#L168).

[2021-06-29 18:15] andybroomfield commented on #151
In `AlertBannerEntityAccessControlHandler` Should we return `return AccessResult::neutral();`
https://github.com/localgovdrupal/localgov_alert_banner/blob/ef0149e9b22b2dd92520a63876916a400a29b069/src/AlertBannerEntityAccessControlHandler.php#L51
@stephen-cox @Adnan-cds ?
... And is the above code even being called?

[2021-06-30 08:36] andybroomfield commented on #151
Ok, so the above gets called, but only when viewing the entity directly at /admin/content/alert-banner/4
That makes sense as we want to disallow access to that url (and eliminate it in the future?)

We don't currently check for access to the alert banner entity when rendering the block. This makes sense as in most scenarios you will want anonymous users to be able to see the banner. However there

[2021-06-30 08:49] stephen-cox commented on #150
Certainly better to remove the `localgov_alert_banner_entity_build_defaults_alter` hook and move the cache contexts and tags to the entity. I made a start at it here: https://github.com/localgovdrupal/localgov_alert_banner/blob/8f0621c7f933344319c133df0f6d2104eb7893b9/src/Entity/AlertBannerEntity.php#L393

I suspect we don't need the session context here. Is the hide alert banner functionality ent

[2021-06-30 09:28] stephen-cox commented on #151
Reading the code, without running it, it would appear we want to give the `view all localgov alert banner entities` permission to anonymous users, which should allow anonymous users to view all banners.

Using the visibility field with the roles condition plugin enabled should allow the targetting of alert banners by users role and the alert banner block _should_ handle this possibility as it call

[2021-06-30 14:00] andybroomfield commented on #150
There is a slightly different template for the front page, as the the font is sometimes bigger.

[2021-07-01 17:36] danchamp opened #153 "Alert banners appear below Subsite banners"
Subsite banners have a weight in config of -7, meaning they appear above alert banners in the Banner region:

https://github.com/localgovdrupal/localgov_subsites/blob/2.x/config/optional/block.block.subsitebanner.yml

<img width="1264" alt="Screenshot 2021-07-01 at 18 24 25" src="https://user-images.githubusercontent.com/261421/124165367-96d00a00-da99-11eb-84ca-4b2d1af74ed9.png">

Propose setting

[2021-07-02 17:10] andybroomfield opened #154 "Cache entries being added for alert banners that are not included on a page"
From @Adnan-cds

I have finished my testing. It was doing great until I added a Visibility condition that says "Do not display this alert on the homepage". After that, every page started generating a cache entry in the cache render table. Example cache key: entity_view:block:localgov_alert_banner:[languages:language_interface]=en:[theme]=localgov_theme:[url.path]=/1524:[user.permissions]=71...

[2021-07-02 17:26] andybroomfield commented on #154
This happens becuase the alert banner only adds cache contexts / tags if the alert banner is going to be rendered, so in cases where the banner is show based on the page path, the url.path context is added to each page the banner is set as visible. However if the banner is hidden on selected pages, the url.path context will not be added when it is hidden, but will be added on each page it is visib

[2021-07-02 17:34] andybroomfield commented on #154
Basically if the banner isVisible but the condition is negated, we need to avoid adding the cache context.

[2021-07-02 17:46] andybroomfield commented on #154
This is the fix I have in mind in the alertBanner getCacheContexts()
[code]

[2021-07-05 09:07] andybroomfield commented on #154
I'm thinking long term we should add a cache context for the alert banners which are visible, as that will be simpler with the complex cache rules.

[2021-07-05 14:10] #150 closed, assigned to andybroomfield

[2021-07-06 15:37] Adnan-cds commented on #126
Ah Andy, Steve,
This has bitten me again :(  I should have [spotted this](https://github.com/localgovdrupal/localgov_alert_banner/blob/3e40ca834d416023d40ed178ef5054cc031119f8/src/Entity/AlertBannerEntity.php#L166) while reviewing the [other cache tag related PR](https://github.com/localgovdrupal/localgov_alert_banner/pull/155/files).  Perhaps we should get rid of the call to ```drupal_flush_all_c

[2021-07-08 19:25] #147 closed, assigned to nobody

[2021-07-12 16:01] stephen-cox commented on #115
@andybroomfield There was some discussion in Slack about this but moving them here for visibility.

We've chosen to use Scheduled Transitions for scheduling content in LocalGov and so it makes sense to use this for alert banners. This will mean adding workflow states to alert banners which involves code changes which won't be easy to extract out into a different module, adding a dependency on Drup

[2021-07-13 11:05] andybroomfield commented on #115
Just to confirm from standup.
We will be modifiing the alert banners module to include a dependancy on drupal core workflow, content moderartion and adding workflow config to the alert banner. This is because the confirmation page form needs to be edited to account for workflow being enabled.
We will then look to add scheduled transitions config in `config/optional` so it is only installed if sche

[2021-07-16 16:11] #154 closed, assigned to nobody

[2021-07-19 11:47] andybroomfield opened #160 "Default the unplublish other alert banners to off"
... This is now the default behaviour at BHCC (done with a hook form alter).
I think it should actully be default behaviour now as this dates from a time when converting from only 1 banner to allowing multiple where multiple was a rare use case. With conditional banners now added this can be extra confusing.

I'd actully go one step further and remove this feature now, as we can't assume all banne

[2021-07-19 12:58] danchamp commented on #160
+1 to removing it as a default.

Not completely convinced removing it completely is ideal - it lists the banners that will be unpublished which provides something of a safety net.

Could it be a permission-based feature and leave site owners to decide if they want to enable/disable it?

Or if it is removed, add the ability to select and unpublish a batch from the Manage Alert Banners admin page?

[2021-07-26 08:36] #126 closed

[2021-09-02 10:57] ekes opened #169 "Warning thrown on viewing revisions"
Seeing this error message when viewing an alert banners revisions

[code]

_Originally posted by @andybroomfield in https://github.com/localgovdrupal/localgov_alert_banner/issues/159#issuecomment-907362486_

[2021-09-03 08:23] andybroomfield commented on #160
I'll add a PR to swap the default to off on this.
This also has implications for scheduled transitions #159 (which won't get to this page by default)
So it might be time to remove it entirly?

[2021-09-03 08:29] andybroomfield opened #171 "Viewing a revision results in 403 error"
When looking at revisions, its not actully possible to view a revision.
This is even with user 1 account.

Steps to reproduce:
1. on an alert banner entity, go to revisions tab
2. click a revision that is not the latest
3. witness 403 access denied error

What should happen:
user is able to view revision.

This was found while checking #169 but I think the error is wider.
Localgov Workflows was in

[2021-09-03 08:29] andybroomfield commented on #171
Might be releated to #151?

[2021-09-03 09:36] andybroomfield commented on #171
Message | Path: /admin/content/alert-banner/8/revisions/24/view. Drupal\Core\Http\Exception\CacheableAccessDeniedHttpException: in Drupal\Core\Routing\AccessAwareRouter->checkAccess() (line 117 of /app/web/core/lib/Drupal/Core/Routing/AccessAwareRouter.php).
-- | --

Debugging this gives

[2021-09-03 10:25] andybroomfield commented on #171
Maybe releated Drupal core issue? https://www.drupal.org/project/drupal/issues/2991698

[2021-09-03 11:34] #169 closed, assigned to nobody

[2021-09-03 11:47] andybroomfield commented on #171
From discovery, this is the code that is ultimatly responsible for checking access. It is in class Drupal\Core\Entity\EntityAccessCheck.

What is happening is that it is checking for an entity, but the router for the revision is providing just the entity ID so it return access neutral, which in turn causes the access denined.

Is this a Localgov issue or a core issue? I wasn't able to access this

[2021-09-07 16:24] stephen-cox commented on #171
@andybroomfield @ekes @finnlewis  I have a partial fix for this issue here: #172

This core issue helped point the way: https://www.drupal.org/project/drupal/issues/2730631

By adding a routing YAML file defining the route options entities are upcast from the entity and revision IDs to the entity object.

That said the fix in the PR works for viewing revisions but not for reverting or deleting rev

[2021-09-09 20:50] #171 closed, assigned to andybroomfield

[2021-09-09 20:54] #115 closed

[2021-09-15 10:59] finnlewis commented on #151
@andybroomfield hoping to pick this up in the next few weeks.

[2021-09-15 11:42] #134 closed

[2021-09-16 10:58] Adnan-cds commented on #83
Let's close this.

[2021-09-21 15:47] Adnan-cds opened #174 "Can't see Moderation control form element"
I am trying to add/edit an Alert banner in a fresh LocalGov site with ```localgovdrupal/localgov_alert_banner:"1.2.0 as 1.1.1"``` and I can't see the Moderation control element in the add/edit form.  Is this normal?

Please note that the form display for alert banners include the Moderation control element.  Screenshot from the edit form attached:
![screenshot-alert-banner-edit-form-no-moderation-

[2021-09-29 11:18] finnlewis commented on #151
@andybroomfield still hoping to get this done by the end of sprint 10. Do flag if you want someone else to take this over @andybroomfield

[2021-10-01 15:51] finnlewis opened #175 "LocalGov Scarfolk sub-theme - support optional block placement"
See https://github.com/localgovdrupal/localgov/issues/379

[2021-10-03 22:38] andybroomfield commented on #175
Shouldn't Localgov_scarfolk be providing responsibility for these blocks and not the modules?
I assume scaffold is the equivalent of Umami, but it not intended as what councils build with.
So I'm not sure it makes sense to change the blocks here to use Scarfolk.
Also not all tests use scarfolk, but many use localgov_base to get the blocks installed.
If the PR is enacted, I assume those sites using

[2021-10-04 17:38] danchamp opened #177 "Alert banner hide button aria-labels lack context - all 'Hide alert'"
[Accessibility audit ref 62](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=D63)

The aria-label for the hide button on alert banners is set to 'Hide alert'. If there are multiple alert banners live at the same time, they all use the same aria-label, so there's no context for the user to know which alert the button will hide.

Suggest

[2021-10-05 11:46] #177 closed, assigned to danchamp

[2021-10-05 14:39] #175 closed, assigned to nobody

[2021-11-08 16:41] rowan-austin-investis opened #181 "LocalGov Alert banners giving content moderation error when setting live"
Hello all,

I've been experiencing this issue on my site when trying to publish an alert banner.

InvalidArgumentException: Field moderation_state is unknown. in Drupal\Core\Entity\ContentEntityBase->getTranslatedField() (line 587 of /var/www/docroot/core/lib/Drupal/Core/Entity/ContentEntityBase.php).

This is happening on all alert banners on my site, I also have Workflows (Content Moderation) in

[2021-11-08 18:34] andybroomfield commented on #181
Thanks for the report @rowan-austin-investis.
I was able to do a fresh install and add an alert banner with the steps you included without issue.

Was your issue a fresh install or an upgrade?
v1.2 released in September added content moderation support for use with scheduled transitions.

Do you have scheduled transitions and localgov_workflow turned on?
(It should be possible to use without, but

[2021-11-08 19:09] andybroomfield commented on #181
I was able to reproduce the error by deleting the alert banner workflow and I now get the same error message.
@rowan-austin-investis I think you have either deleted that workflow, or you had an older version that didn't get the workflow added when you upgraded.

You can install the workflow config that is in the module `workflows.workflow.localgov_alert_banners.yml` and that should fix your issue.

[2021-11-08 20:14] willguv commented on #181
Cheers for looking at this @andybroomfield. Much appreciated

[2021-11-09 09:20] rowan-austin-investis commented on #181
Thank you so much for looking at this @andybroomfield, I'll install the config and give it a test then report back!

[2021-11-09 10:22] rowan-austin-investis commented on #181
@andybroomfield After importing the config and doing a little playing my banners are now publishing again! Thank you for your help on this one, I can confirm that nothing is broken in the module itself and it was config that was the issue.

[2021-11-09 10:22] #181 closed, assigned to nobody

[2021-11-11 15:05] stephen-cox opened #182 "Don't allow the deleting of the localgov_alert_banners workflow configuration"
Picking up from #181

It shouldn't be possible to delete the workflow configuration while the Alert Banner module is enabled.

Not sure the best way to do this. Either need to hook into the entity delete process to prevent this or the workflow should be defined in code.

[2022-02-21 14:08] andybroomfield opened #183 "Stop testing against 1.x"
Drupal 8.9 no longer supported, so we can remove those tests (and make the tests pass).

[2022-02-21 14:17] #183 closed, assigned to nobody

[2022-02-23 18:09] Adnan-cds opened #188 "[Bug] Add moderation control for Full page banner"
Without moderation control, we cannot publish/unpublish Full page alert banners :(

[2022-02-24 09:56] andybroomfield commented on #188
When I enabled the full page alert module, the banner type that is creates was added to the alert banner workflow.
It may be that you had full page alerts before the scheduled tasks update was added?

Steps I used to try and reproduce.
- Install localgov alert banner
- Verify alert banner workflow exists
- Enable the full page alert banner module
- Create and set live a full page alert banner
- On

[2022-03-18 19:14] Adnan-cds opened #189 "[Bug] Selecting "Remove hide link" breaks the full page banner"
Selecting the **Remove hide link** checkbox on a Full page banner edit form stops Content editors from publishing the banner.

We don't really need the *Remove hide link* checkbox on Full page banners as hiding this link from the full page banner means people will get stuck seeing the banner and will have no way to close the banner and reach the site.

Tasks:
- [x] Remove the "Remove hide link" ch

[2022-03-18 19:16] Adnan-cds commented on #188
Hi Andy,
Yes, you are right.

I will try to fix the relevant update hook implementation so that existing sites are taken care of.

[2022-03-22 16:27] andybroomfield commented on #160
This will be a good first issue if someone is looking to work on something.

[2022-03-22 16:29] #151 closed, assigned to andybroomfield

[2022-03-22 16:30] andybroomfield commented on #136
This might be comming back up as an issue as BHCC new pattern removes the titles from display.
We still need a title in the admin interface though, otherwise it gets labelled as banner 1, banner 2 etc... Hard to spot in an emergency.

[2022-04-07 15:22] finnlewis opened #191 "Update automated tests to only run coding standards and phpunit tests on this repository"
See https://github.com/localgovdrupal/localgov/issues/423

Just creating an issue here to give this a go on the localgov_alert_banner

Ideally, I think we should be able to

- [x] test against multiple versions of PHP (7.4 and 8.1)
- [x] only run phpcs checks on code in this repository
- [x] only run phpstan checks on code in this repository
- [x] only run PHPUnit tests provided by this repository

[2022-04-07 15:23] finnlewis commented on #191
@andybroomfield any thoughts these suggestions?

[2022-04-07 15:50] finnlewis commented on #191
I think I've got the first three working!

[2022-04-07 15:52] #189 closed, assigned to Adnan-cds

[2022-04-07 16:26] andybroomfield commented on #191
Yes, these sound good as tests. I think for the last, will we need a custom test script that only runs `phpunit web/modules/contrib/localgov_alert_banner`

[2022-04-07 16:44] finnlewis commented on #191
@andybroomfield I think I got that to work with:

https://github.com/localgovdrupal/localgov_alert_banner/pull/192/files#diff-faff1af3d8ff408964a57b2e475f69a6b7c7b71c9978cccc8f471798caac2c88L189-R186

Tests ran in 5m 17s

[2022-04-07 17:40] finnlewis opened #193 "Address deprecation notices to prepare for Drupal 10"
When running the tests locally, I get the following, so just logging here so we can start a branch to address the deprecation notices.

[code]

[2022-04-11 13:21] finnlewis commented on #191
Note from merge Monday:
 - there are skipped tests on the Merge
 - deprecated code is returning lots of issues.

- [ ] confirm if the deprecated code tests are behaving or what are the notices?
- [ ] confirm why the skipped test is skipped
- [ ] Andy suggested considering running phpunit with --testdox (although does not work with paratest)

See https://github.com/localgovdrupal/localgov_alert_ban

[2022-04-11 21:30] andybroomfield commented on #174
Yes, Alert banners should not show the moderation form as the confirm form is what puts the banners live.
(This is how we are able to work with scheduled transitions).

[2022-04-11 21:30] andybroomfield commented on #174
We should work out what happens if the moderation form is placed, as if it is, we should then skip the confirmation form.

[2022-04-11 21:33] andybroomfield commented on #153
Is this still a present issue?
We could set the default weight of the block, but we will also need to update the config which might be a problem for those who have moved the blocks.

[2022-04-11 21:43] andybroomfield commented on #146
Did this discussion get resolved? Should we now go ahead and remove this?

[2022-04-11 22:15] andybroomfield opened #197 "Replace jQuery.cookie with core/js-cookie"
As jQuery cookie is removed in Drupal 10.
The library is a dependency (and used by) js/alert_banner.js.
See https://www.drupal.org/node/3104677

[2022-04-12 10:37] stephen-cox opened #198 "Fix code depreactions for phpstan 1.x (required for PHP 8.1)"
We need to upgrade phpstan to 1.x for PHP 8.1. This highlights the following issues:

[code]

[2022-04-12 11:47] andybroomfield commented on #198
Discussion on https://www.drupal.org/node/2491057 is unclear whether we should proceed, however I've opened up a new PR in an attempt to address this since the core class does exist.

[2022-04-12 11:58] andybroomfield commented on #198
Trying to understand the issue, is it that we should remove and just use the generic ContentEntityDeleteForm instead of extending it? As we don't override anything.
Looking at localgov_geo for how it handles entity deletion, [it does not include its own entity delete form](https://github.com/localgovdrupal/localgov_geo/blob/bf12233a55c2a41162965ddedfb180880e1b895f/src/Entity/LocalgovGeo.php#L30).

[2022-04-13 16:08] #146 closed, assigned to nobody

[2022-04-19 13:43] andybroomfield opened #201 "Convert the alert banner dismiss script to vanilla Javascript"
Currently [/js/alert_banner.js](https://github.com/localgovdrupal/localgov_alert_banner/blob/32b3ce8c28345673711c5d8278a043940c837ae8/js/alert_banner.js) uses jQuery, when really it should just use vanilla javascript.

[2022-04-25 13:15] #197 closed, assigned to nobody

[2022-04-25 13:15] #198 closed, assigned to nobody

[2022-04-25 13:16] #153 closed, assigned to nobody

[2022-04-25 13:18] #160 closed, assigned to andybroomfield

[2022-04-27 21:33] andybroomfield opened #203 "Fix non-existent permissions on Drupal 10"
This is when installing localgov alert banner on Drupal 10 alpha 3, but not installing scheduled transitions.

[2022-04-27 21:46] andybroomfield commented on #203
<img width="1225" alt="Screenshot 2022-04-27 at 10 47 48 pm" src="https://user-images.githubusercontent.com/1467480/165636554-25b82e5d-5e84-4866-a15c-5aadefb0e532.png">

[2022-04-27 21:52] andybroomfield commented on #203
Need to add `workflows.workflow.localgov_alert_banners` as a dependency of the emergency banner role.

[2022-04-27 22:33] andybroomfield opened #205 "Condition field is being displayed by default"
On an initial install, the condition field plugin is displaying its output by default on the alert banners.

<img width="1150" alt="Screenshot 2022-04-27 at 11 35 11 pm" src="https://user-images.githubusercontent.com/1467480/165642299-25810727-3168-4378-a52d-4a14093cb258.png">

[2022-04-27 22:37] andybroomfield opened #207 "Condition field does not officially support Drupal 10"
Will generate a composer error

However manually coping it over and changing the core_version_requirement to
`core_version_requirement: ^8.8 || ^9 || ^10` does make it work and the path visibility conditions for the alert banner do appear to work.

[2022-05-09 13:06] #205 closed, assigned to nobody

[2022-05-09 13:07] #203 closed, assigned to nobody

[2022-05-31 14:03] stephen-cox opened #211 "Enabling scheduled transitions overwrites previous bundle configuration"
Part of https://github.com/localgovdrupal/localgov_workflows/issues/25

The code that configures Scheduled Transitions when it's enabled overwrites previous bundle configuration. One manifestation of this is it breaks the Review Date widget.

[2022-06-01 10:07] andybroomfield opened #213 "The Localgov_alert_banners workflow should be removed when this module is uninstalled"
Otherwise uninstall / reinstall fails.

Add the module as an enforced dependency in the `workflows.workflow.localgov_alert_banners.yml` file under dependencies.

[code]

[2022-06-01 15:24] tran-bigbluedoor opened #214 "The drupal/condition_field patches failed to apply"
Currently, the drupal/condition_field patches are blocking update/install with composer:
<img width="1215" alt="Screenshot 2022-06-01 at 15 10 19" src="https://user-images.githubusercontent.com/102959744/171440651-5f24d882-9bea-46f8-b358-466cd7e0dbb6.png">

Suggestion: Remove the patches from composer.json because the new version of drupal/condition_field module has already applied these changes f

[2022-06-01 16:11] andybroomfield commented on #214
Ha! New release day :-)
(Also has official Drupal 10 support which should fix #207.

[2022-06-06 10:46] #214 closed, assigned to nobody

[2022-06-06 10:51] #211 closed, assigned to nobody

[2022-06-06 13:32] stephen-cox commented on #214
@tran-bigbluedoor @louwrense This issue should now be fixed with the [Alert Banner 1.4.1](https://github.com/localgovdrupal/localgov_alert_banner/releases/tag/1.4.1) and [Services 2.0.10](https://github.com/localgovdrupal/localgov_services/releases/tag/2.0.10) releases.

[2022-06-24 17:37] andybroomfield opened #218 "Support new Drupal manage permissions tab"
[See article](https://www.droptica.com/blog/whats-new-drupal-94-review-latest-version/) and [Drupal documentation](https://www.drupal.org/node/3242827).

We should support the manage permissions form. It requires making sure permissions are assigned to an entity. This can be done using the new [BundlePermissionHandlerTrait](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21Bu

[2022-07-11 13:09] #207 closed, assigned to nobody

[2022-09-08 21:03] Adnan-cds opened #223 "Automated tests for localgov_alert_banner_full_page"
The localgov_alert_banner_full_page submodule doesn't have any automated test at the moment.  A Functional test would be good.  It should test the following operations at the least:
- Create a Full page banner.
- Hide the banner by clicking the "Hide" link of the banner.
- Click on any other link on the page and see if the destination page loads as expected.

[2022-10-10 10:08] andybroomfield commented on #84
I think we did this!

[2022-10-10 10:08] #84 closed

[2022-10-10 10:09] andybroomfield commented on #188
Did you fix this @Adnan-cds ?

[2022-10-10 10:11] andybroomfield commented on #201
I don't know if this is exactly a good first issue, but if anyone wants to try their hand at it and has a grasp of Javascript, this would be good to get sorted.

[2022-10-10 10:19] andybroomfield opened #224 "Is alert banner effecting the Google Page Insights CLS score"
BHCC have been getting alerts inside web master tools regarding page speed about [Cumulative Layout Shift (CLS)](https://web.dev/cls/).

This seems to effect nearly every page and the only elements we can think of is the EU Cookie Compliance and the Alert Banner. Both insert themselves into the page with Javascript.

_For further investigation._

[2022-10-11 09:15] Adnan-cds commented on #188
Hi Andy,
I will check this and get back to you.

[2022-10-12 17:05] Adnan-cds commented on #188
I can't reproduce the problem on a fresh LocalGov install.  This can be closed :)

[2022-10-12 18:14] #188 closed, assigned to nobody

[2022-10-12 18:14] andybroomfield commented on #188
Thanks for looking @Adnan-cds

[2022-11-07 14:48] andybroomfield opened #227 "On Olivero, the alert banner body text is black"
Follow up to #225

This is due to the .text-content class that assigns a colour #313637.

<img width="669" alt="Screenshot 2022-11-07 at 2 47 56 pm" src="https://user-images.githubusercontent.com/1467480/200339243-5dc564c9-5d49-4384-a643-1d282c6baccc.png">

[2022-11-07 14:58] #227 closed, assigned to nobody

[2022-11-21 18:24] andybroomfield opened #229 "Support content edit form on alert banner with Gin"
Looks like we need to implement a Gin hook to specify our routes.

[code]